<div class="buttons-container">
  <button class="btn btn-outline-primary" (click)="test()">test 1</button>
  <button class="btn btn-outline-primary" (click)="testFakeArray()">test 2</button>
  <button class="btn btn-outline-primary" (click)="test()">test 3</button>
  <button class="btn btn-outline-primary" (click)="test()">test 4</button>
  <button class="btn btn-outline-primary" (click)="test()">test 5</button>
  <button class="btn btn-outline-primary" (click)="test()">test 6</button>
  <button class="btn btn-outline-primary" (click)="test()">test 7</button>
</div>

<div class="test-data">
  <div class="test-data__array-element" *ngFor="let element of testArray">
    {{ element }}
  </div>
</div>
